<!-- File _includes/google-analytics.html         -->
<!-- REV01: Wed 31 Mar 2021 07:15:14 WIB          -->
<!-- START: Wed 17 Feb 2021 19:47:55 WIB          -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

